
<!DOCTYPE html>
<html lang="en">


<head> 
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Transacciones</title>

    <!-- Fontfaces CSS-->
    <link href="../../css/font-face.css" rel="stylesheet" media="all">
    <link href="../../vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="../../vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="../../vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="../../vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="../../vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="../../vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="../../vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="../../vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="../../vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="../../vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="../../vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="../../css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-4">
                                <!-- DATA TABLE-->
                                <div class="table-responsive" id="maestro" name="maestro" >
                                    <table class="table table-responsive table-data3" asp-controller="Home" asp-action="iteractions">
                                        <thead>
                                            <tr> 
                                                <th><strong class="process">SERVICIO AL CLIENTE</strong></th>
                                                <th colspan="5" align="right">
                                                    <button class="btn btn-info btn-sm" id="agregar" name="agregar" onclick="agregar()">
                                                        <i class="zmdi zmdi-plus"></i> <i>Agregar</i>
                                                    </button>
                                                    <button class="btn btn-info btn-sm">
                                                        <i class="fa fa-print"></i> Listar
                                                    </button>

                                                    <button class="btn btn-info btn-sm">
                                                        <i class="fa fa-download"></i> Exportar
                                                    </button>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>Id</th>
                                                <th>Fecha</th>
                                                <th>Nombre</th>
                                                <th>Nota</th>
                                                <th>...</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var iter in Model.Iteractions)
                                            {
                                            <tr>
                                                <td>@iter.Id</td>
                                                <td>@iter.Date</td>
                                                <td>@iter.Client</td>
                                                <td>@iter.Note</td>
                                                <td>
                                                    <div class="table-data-feature">
                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Editar" onclick="editar()">
                                                            <i class="zmdi zmdi-edit"></i>
                                                        </button>
                                                        <button type="submit" class="item" data-toggle="tooltip" data-placement="top" title="Borrar" value=@iter.Id onclick="return borrar(@iter.Id)">
                                                            <i class="zmdi zmdi-delete"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            } 

                                        </tbody>
                                    </table>
                                </div>

                                <!-- END DATA TABLE-->
                            </div>
                            <div class="col-lg-5" id="formulario" name="formulario" style="display:none">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>DETALLE CONTACTO AL CLIENTE</h4>
                                    </div>
                                    <div class="card-body card-block">
                                        @model Iteraction
                                        <form method="post" enctype="multipart/form-data" class="form-horizontal" asp-controller="Home" asp-action="iteractions">
                                            <div class="table-data__tool">
                                                <div class="table-data__tool-right" align="right">
                                                    <button type="submit" class="btn btn-primary btn-sm">
                                                        <i class="fa fa-dot-circle-o"></i> Grabar
                                                    </button>
                                                    <button type="reset" class="btn btn-danger btn-sm" id="cancelar" name="cancelar">
                                                        <i class="fa fa-ban"></i> Cancelar
                                                    </button>
                                                </div>
                                                <div asp-validation-summary="All" id="alert" name="alert" class="form-control-label text-danger"> </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="id" class=" form-control-label">ID</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="id" name="id" class="form-control-static" disabled asp-for="Id">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="date" class=" form-control-label">Fecha</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="date" id="date" name="date" value=@DateTime.Now class="form-control-static" asp-for="Date">
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="clienId" class=" form-control-label">C L I E N T E</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <select name="clientId" id="clientId" class="form-control" asp-for="ClientId">
                                                        <option value="0">Escoja el Cliente [Requerido]</option>
                                                        <option value="1">Cliente 1</option>
                                                        <option value="2">Cliente 2</option>
                                                        <option value="3">Cliente 3</option>
                                                        <option value="4">Cliente 4</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="TranType" class=" form-control-label">Tipo Iteraccion</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <select name="Type" id="TranType" class="form-control" asp-for="Type">
                                                        <option value="0">Escoja tipo Iteraccion [Requerido]</option>
                                                        <option value="1">Mercadeo</option>
                                                        <option value="2">Cobro</option>
                                                        <option value="3">Queja</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="user" class=" form-control-label">Usuario</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="user" name="user" class="form-control-static" disabled asp-for="User">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="note" class=" form-control-label">Nota</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <textarea name="note" id="note" rows="9" placeholder="Nota..." class="form-control" asp-for="Note"></textarea>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="status" class=" form-control-label">Estatus</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <select name="status" id="status" class="form-control" asp-for="Status">
                                                        <option value="0">Normal</option>
                                                        <option value="1">Anulado</option>
                                                        <option value="2">Hold</option>
                                                        <option value="3">Bloqueado</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
    <!-- Jquery JS-->
    <script src="../../vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="../../vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="../../vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="../../vendor/slick/slick.min.js"></script>
    <script src="../../vendor/wow/wow.min.js"></script>
    <script src="../../vendor/animsition/animsition.min.js"></script>
    <script src="../../vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="../../vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="../../vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="../../vendor/circle-progress/circle-progress.min.js"></script>
    <script src="../../vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../../vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="../../vendor/select2/select2.min.js"></script>

    <!-- Main JS-->
    <script src="../../js/main.js"></script>
    <script>
        function editar() {
            $("#formulario").show();
        }
        function borrar() {
            result = confirm("Realmente desea borrar este registro?");
        }

        function agregar() {
            $("#formulario").show()
        }

        function reset() {
            $("#formulario").hide()
        }

        $("#cancelar").click(function(){ $("#formulario").hide(); });
        //$("#agregar").click(function() { $("#formulario").show(); });

        var alertas=document.getElementById("alert").textContent;
        $(document).ready(function(){
            if(alertas.length>10) {
                style_muestra='block'
                $("#formulario").show()

            }else{
                style_muestra='none'
                $("#formulario").hide()
            }
            frm = document.getElementById("formulario");
            frm.style.display = style_muestra;
        });

     </script>

</body>
</html>
<!-- end document-->
