@using Dapper
@using Microsoft.Data.SqlClient

<!DOCTYPE html>
<html lang="en">


<head> 
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Clientes</title>

    <!-- Fontfaces CSS-->
    <link href="../../css/font-face.css" rel="stylesheet" media="all">
    <link href="../../vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="../../vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="../../vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="../../vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="../../vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="../../vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="../../vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="../../vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="../../vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="../../vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="../../vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="../../css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="table-responsive" id="maestro" name="maestro" >
                                    <table class="table table-responsive table-data3" asp-controller="Home" asp-action="users">
                                        <thead>
                                            <tr> 
                                                <th><strong class="process">USUARIOS</strong></th>
                                                <th colspan="5" align="right">
                                                    <button class="btn btn-info btn-sm" id="agregar" name="agregar" onclick="agregar()">
                                                        <i class="zmdi zmdi-plus"></i> <i>Agregar</i>
                                                    </button>
                                                    <button class="btn btn-info btn-sm">
                                                        <i class="fa fa-print"></i> Listar
                                                    </button>

                                                    <button class="btn btn-info btn-sm">
                                                        <i class="fa fa-download"></i> Exportar
                                                    </button>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>Id</th>
                                                <th>Usuario</th>
                                                <th>Nombre</th>
                                                <th>Estatus</th>
                                                <th>...</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var user in Model.Users)
                                            {
                                            <tr>
                                                <td>@user.Id</td>
                                                <td>@user.UserName</td>
                                                <td>@user.Name</td>
                                                <td class="process">@user.Active</td>
                                                <td>
                                                    <div class="table-data-feature">
                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Editar" onclick="editar()">
                                                            <i class="zmdi zmdi-edit"></i>
                                                        </button>
                                                        <button type="submit" class="item" data-toggle="tooltip" data-placement="top" title="Borrar" value=@user.Id onclick="return borrar(@user.Id)">
                                                            <i class="zmdi zmdi-delete"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            } 

                                        </tbody>
                                    </table>
                                </div>

                                <!-- END DATA TABLE-->
                            </div>
                            <div class="col-lg-5" id="formulario" name="formulario" style="display:none">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Ficha de Usuario</h4>
                                    </div>
                                    <div class="card-body card-block">
                                        @model User
                                        <form method="post" enctype="multipart/form-data" class="form-horizontal" asp-controller="Home" asp-action="users">
                                            <div class="table-data__tool">
                                                <div class="table-data__tool-right" align="right">
                                                    <button type="submit" class="btn btn-primary btn-sm">
                                                        <i class="fa fa-dot-circle-o"></i> Grabar
                                                    </button>
                                                    <button type="reset" class="btn btn-danger btn-sm" id="cancelar" name="cancelar">
                                                        <i class="fa fa-ban"></i> Cancelar
                                                    </button>
                                                </div>
                                                <div asp-validation-summary="All" id="alert" name="alert" class="form-control-label text-danger"> </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">ID</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="id" name="id" class="form-control-static" disabled asp-for="Id">
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="nombre" class=" form-control-label">Nombre</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="name" name="name" placeholder="Colocar nombre completo [Requerido]" class="form-control" asp-for="Name">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="UserType" class=" form-control-label">Tipo Usuario</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <select name="Type" id="UserType" class="form-control" asp-for="Type">
                                                        <option value="0">Escoja tipo Usuario [Requerido]</option>
                                                        <option value="1">Administrador</option>
                                                        <option value="2">Supervisor</option>
                                                        <option value="3">Usuario Transacciones</option>
                                                        <option value="4">Usuario Iteracciones</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="email-input" class=" form-control-label">Email</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="email" id="email-input" name="Email" placeholder="email@com" class="form-control" asp-for="Email">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="user" class=" form-control-label">User Name [Requerido]</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="user" name="UserName" placeholder="Colocar nombre corto de usuario" class="form-control" asp-for="UserName">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="password-input" class=" form-control-label">Password</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="password" id="password-input" name="Password" placeholder="Password, 10 caracteres Max" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="password-input" class=" form-control-label">Confirmar Password</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="password" id="password-input" name="PasswordConfirm" placeholder="Confirmar Password" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">Estatus del Usuario</label>
                                                </div>
                                                <div class="col col-md-9">
                                                    <div class="form-check">
                                                        <div class="checkbox">
                                                            <label for="checkbox1" class="form-check-label ">
                                                                <input type="checkbox" id="Active" name="Active" value="True" class="form-check-input" asp-for="Active">Activo
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="file-multiple-input" class=" form-control-label">Cargar documentos</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="file" id="file-multiple-input" name="File" multiple="" class="form-control-file" asp-for="File">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
    <!-- Jquery JS-->
    <script src="../../vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="../../vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="../../vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="../../vendor/slick/slick.min.js"></script>
    <script src="../../vendor/wow/wow.min.js"></script>
    <script src="../../vendor/animsition/animsition.min.js"></script>
    <script src="../../vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="../../vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="../../vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="../../vendor/circle-progress/circle-progress.min.js"></script>
    <script src="../../vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../../vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="../../vendor/select2/select2.min.js"></script>

    <!-- Main JS-->
    <script src="../../js/main.js"></script>
    <script>
        function editar() {
            $("#formulario").show();
        }
        function borrar(var1) {

            jj=var1
            result = confirm("Realmente desea borrar el registro id ( "+jj+" )");
//            location.reload("1");
            window.location.replace(window.location.href + '?Id='+jj)
        }

        function agregar() {
            $("#formulario").show()
        }

        function reset() {
            $("#formulario").hide()
        }

        $("#cancelar").click(function(){ $("#formulario").hide(); });
        //$("#agregar").click(function() { $("#formulario").show(); });

        var alertas=document.getElementById("alert").textContent;
        $(document).ready(function(){
            if(alertas.length>10) {
                style_muestra='block'
                $("#formulario").show()

            }else{
                style_muestra='none'
                $("#formulario").hide()
            }
            frm = document.getElementById("formulario");
            frm.style.display = style_muestra;
        });

     </script>

</body>
</html>
<!-- end document-->
